.NGODonationdisplay{

    background-color: coral;
    border-radius: 20px;
    border-width: 1px;
    font-size: large;
    padding: 20px;
}
.googleButtonCss{
        position: relative !important;
        left: 81px !important;
        top:25px !important;
        color: black !important;
        border-radius: 25px !important;
        background: #f8a500 !important;
        box-shadow: none !important;
        border: none !important;
}
.googleButtonCss:focus{
  outline:none !important;
}
.googleButtonCss div{
    border-radius: 25px !important;
    margin-right: 1px !important;
    background: #f8a500 !important;
    padding: 5px !important;
    width: 45px !important;
    position: relative !important;
    top:3px !important;
}
.NGODonationdisplay1{
    background-color:goldenrod;
    border-radius: 20px;
    border-width: 1px;
    font-size: large;
    padding: 20px;
}
.Donordisplay{
    background-image: radial-gradient(white,rgb(247,242,221));
    /* background: rgb(247,242,221); */
    margin: 15px;
    align-items: center;
    align-content: center;
    border: 2px solid orange;
    border-radius: 15px;
    height: 250px;
    width: 200px;
}
.Cardbody{
    margin-left: 60px;
    margin-top: 15px;
}
.Donordisplay img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
.Cardbody img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}
.loca{
    color: darkgrey;
    font-size: 18px;
}
.amt{
    color: rgb(158, 6, 6);
    font-size: large;

}
.CardText{
    margin-left: 10px;
    padding-bottom: 20px;
}
.Carddate{
    color: darkgrey;
    font-size: 16px;
}
.giveicon{
    width: 17%;
    margin-left: 20px;
}
.ant-table table {
    min-height: 600px;
}
.ant-card-bordered {
    border: 0px solid #e8e8e8;
    line-height: 1;
}
.ant-card-head {
    border-bottom: 0px;
}
.ant-table-thead > tr > th {
    background-color: #f8a500;
}
.ant-table {
    border : 1px solid #f8a500;
    border-radius: 8px;
}
